body {
    overflow-x: scroll;
    transition: color 0.3s ease; 
    
    
}

/* mobile section */
.mobile-nav-top-cont h2 {
    text-align: center;
    font-size: 30px;
    color: #2DF400;
    font-style: italic;
  }
  
  
  
  .mobile-nav-cont {
      display: none;
      border: 1px solid blue;
  }
  
  .logo-nav {
    position: absolute;
    top: 30px;
    padding-left: 10px;
    z-index: 2000;
  }
  
  
  #mobile-nav {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    background-color: #0051FF;
    width: 100%;
    height: 100%;  
  }
  
  #mobile-nav h2 {
    font-size: 30px;
    font-style: italic;
    font-weight: 300;
    color: white;
  }
  
  #mobile-nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  #mobile-nav li::marker {
    content: "";
  }
  
  
  #mobile-nav a:active { 
    color:#2DF400;
  }

  .mobile-section {
    display: none;
  }
  .mobile-whole-cont {
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
  }

  #header-cont h1 {
    font-size: 30px;
    text-align: center;
  }

  #header-cont video {
    /* border: 1px solid blue; */
    display: block;
    margin: 0 auto;
  }

  #subtitle h3 {
    text-align: center;
    font-size: 10px;
    line-height: 12px;
    width: 70%;
    padding-left: 12vw;
  }

  .mobile-whole-cont h2 {
    font-size: 20px;
    padding-left: 10px;
  }

  .mobile-whole-cont h4 {
    font-size: 15px;
    font-weight: 400;
    line-height: 10px;
  }

  .mobile-whole-cont p {
    font-size: 10px;
    line-height: 10px;
    width: 90%;
  }

  .process-cont {
    padding-top: 20px;
  }


  .mobile-whole-cont .photo-gallery {
    margin: 0 auto;
    width: 75vw;
  }

  .reflection-cont {
    padding-top: 20px;
  }

@media screen and (max-width: 425px) {

    .nav-cont {
        display:none;
      }

    .mobile-nav-cont {
        display: block;
    }

    .mobile-section {
        display: block;
    }

    .desktop {
        display: none;
    }
}
/*desktop section*/


nav {
    position: fixed;  /* or 'sticky' depending on your needs */
    top: 0;
    width: 100%;
    z-index: 1001; 
}

.nav-cont {
    display:flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right:20px;
    
}

 a {
    color: #2DF400;
    text-decoration: none;
}

a:hover {
    color: #0051FF;
}

a:active {
    color: #0051FF;
}

h1 {
    font-family: "Doto", sans-serif;
    font-size: 70px;
    
}

h2 {
    
    font-family: "Exo 2", sans-serif;
    font-weight: 400;

}

h3 {
    font-family: "Exo 2", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}

@media screen {
    
}

h4 {
    font-family: "Exo 2", sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding-left: 20px;
    line-height: 5px;
}

p {
    padding-left: 20px;
    padding-right: 100px;
    font-family: "Exo 2", sans-serif;
    font-size: 20px;
    line-height: 50px;
    
}

.cont-1 h3 {
    line-height: 5px;
}

.cont-1 {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
 
}

#title {
    /* display: flex;
    justify-content: center; */
    text-align: center;
}

.cont-1 img {
    width: 50%;
    padding-bottom: 30px;
}

.cont-2 h2 {
    padding-top: 20px;
    padding-left: 10px;
    font-size: 50px;
}

.cont-2 h3 {
    padding-top: 10px;
    padding-left: 10px;
    font-size: 30px;
    color:#0051FF
}

#sketch {
    padding-left: 20px;
}

.photo-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.photo-gallery img {
    width: 80%;
    height: 100%;
    object-fit:cover;
    border: 1px solid #0051FF;
}

.carousel-cont {
    position: relative;
    width: 60%;
    margin: auto;
    border: 5px dotted red;
    overflow: hidden;
}

.carousel-slide {
    display: flex;
    width: 100%;
    height: 500px;
}

#prev-btn {
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 5%;
    font-size: 30px;
    color: red;
    opacity: 1;
    cursor: pointer;
}
#next-btn {
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 5%;
    font-size: 30px;
    color: red;
    opacity: 1;
    cursor: pointer;
}

.field-research-img-cont {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    gap: 20px;
}
.wireframe-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0;
}

.wireframe-cont img {
    width: 30%;
    height: auto;
    
}

.user-flow-cont-1 {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
  
}

.wireframe-cont-2 {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.design-system-cont {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.system-color p {
    text-align: center;
    
}

/* .infest-cont {
    border-color: #0051FF;
    border-width: 10px;
    display: flex;
    flex-direction: row;
} */


