body {
    overflow-x: scroll;
    transition: color 0.3s ease; 
    
    
}

nav {
    position: fixed;  /* or 'sticky' depending on your needs */
    top: 0;
    width: 100%;
    z-index: 1001; 
}

.nav-cont {
    display:flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right:20px;
    
}

 a {
    color: #2DF400;
    text-decoration: none;
}

a:hover {
    color: #0051FF;
}

a:active {
    color: #0051FF;
}

h1 {
    font-family: "Doto", sans-serif;
    font-size: 70px;
    
}

h2 {
    
    font-family: "Exo 2", sans-serif;
    font-weight: 400;

}

h3 {
    font-family: "Exo 2", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}

@media screen {
    
}

h4 {
    font-family: "Exo 2", sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding-left: 20px;
    line-height: 5px;
}

p {
    padding-left: 20px;
    padding-right: 100px;
    font-family: "Exo 2", sans-serif;
    font-size: 20px;
    line-height: 50px;
    
}

.cont-1 h3 {
    line-height: 5px;
}

.cont-1 {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
 
}

#title {
    /* display: flex;
    justify-content: center; */
    text-align: center;
}

.cont-1 img {
    width: 50%;
    padding-bottom: 30px;
}

.cont-2 h2 {
    padding-top: 20px;
    padding-left: 10px;
    font-size: 50px;
}

.cont-2 h3 {
    padding-top: 10px;
    padding-left: 10px;
    font-size: 30px;
    color:#0051FF
}

#sketch {
    padding-left: 20px;
}

.photo-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.photo-gallery img {
    width: 80%;
    height: 100%;
    object-fit:cover;
    border: 1px solid #0051FF;
}

.carousel-cont {
    position: relative;
    width: 60%;
    margin: auto;
    border: 5px dotted red;
    overflow: hidden;
}

.carousel-slide {
    display: flex;
    width: 100%;
    height: 500px;
}

#prev-btn {
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 5%;
    font-size: 30px;
    color: red;
    opacity: 1;
    cursor: pointer;
}
#next-btn {
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 5%;
    font-size: 30px;
    color: red;
    opacity: 1;
    cursor: pointer;
}

.field-research-img-cont {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    gap: 20px;
}
.wireframe-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0;
}

.wireframe-cont img {
    width: 30%;
    height: auto;
    
}

.user-flow-cont-1 {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
  
}

.wireframe-cont-2 {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.design-system-cont {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.system-color p {
    text-align: center;
    
}

/* .infest-cont {
    border-color: #0051FF;
    border-width: 10px;
    display: flex;
    flex-direction: row;
} */


